{% extends 'bash/bash.html' %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/css/scroll_bar.css">
{% endblock %}
{% block content %}
{% load deploy_tags %}
<div id="tab-general">
    <div class="row mbl">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="all">

                <div class="panel panel-green">
                    <div class="col-sm-12 panel-heading">

                        <div class="panel-heading col-sm-10">
                        <ul  class="nav nav-tabs responsive ">
                            <li class="active btn btn-default" style="padding: 0px">
                                <a href="#alert-tab" data-toggle="tab">{{ model_name }}</a>
                            </li>
                        </ul>
                        </div>
                        <div class="panel-heading col-sm-2">
                            <button type="button" onclick="add_template(this)" class="btn btn-blue" data-toggle="modal" data-target="#Template">添加</button>
                        </div>
                    </div>

                    <div id="generalTabContent" class="tab-content responsive">
                        <div id="alert-tab" class="tab-pane fade in active">
                            <form method="post" onsubmit="return FormVerification(this)">{% csrf_token %}
                                <table class="table table-bordered ">
                                    <thead>
                                        <tr>
                                            {% if not  admin_class.list_display %}
                                                <th>{{ model_name }}</th>
                                            {% else %}
                                                <th class='text-center'>
                                                    <input onclick="checkAll(this)" type="checkbox" />
                                                </th>
                                                {% for column in admin_class.list_filter %}
                                                <th class='text-center'>

                                                {% if order_column == column  %}
                                                    {{ order_column }}
                                                {% else %}
                                                    {{ column }}
                                                {% endif %}
                                                </th>
                                                {% endfor %}
                                                <th class='text-center' >操作</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody id="tbody" class="tab-content responsive">
                                        {% for row in querysets %}
                                        <div class="col-lg-12">
                                            <div method="post">
                                                {% if row in querysets %}
                                                <tr class='gradeX '  >

                                                    <td class='text-center'>
                                                        <input type='checkbox'  class='row-obj' name ='_selected_obj'  value='{{ row.id }}'></td>
                                                    <td class='text-center'>{{ row }}</td>
                                                     <form method='post'>
                                                        {% csrf_token %}
                                                        <td class="text-center">
                                                            <input type="button" class="btn btn-xs btn-info" value="编辑">
                                                            <a type="button" class="btn btn-xs btn-danger asset_del" href="/cluster/template/del/?idAll={{ row.id }}" >删除</a>
                                                        </td>
                                                    </form>
                                                </tr>
                                            {% else %}
                                                <tr class='gradeX '></tr>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        </div>
                                    </tbody>
                                </table>
                                <hr>
                                <div class="content">
                                    <tr>
                                        <td><input onclick="all_del(this) "  type='button' class='btn btn-danger btn-sm' value='删除' /></td>
                                    </tr>
                                </div>
                            </form>
                            <div class="pagination">
                                <ul class="pagination">
                                    <li class=""><a href="?_page=1{{ filter_condtions_string }}">首页 </a></li>
                                    {% for p in paginator.page_range %}
                                        {% get_abs_value p  querysets.number as i %} <!--i变量是当前页与循环的次数的差的绝对值 -->
                                        {% if i < 3 %}
                                            {% if p == querysets.number %}
                                                <li class="active"><a href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }} </a></li>
                                            {% else %}
                                                <li class=""><a href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <li class="">
                                        <a  href="?_page={{ paginator.num_pages }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">尾页</a>
                                    </li>
                                    <li class="">
                                        <a>总计 {{ querysets.paginator.num_pages }}页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="note-tab" class="tab-pane fade" >
                            <div class="row logs_display" id="display_log" style="background-color: black;display:block;height: 500px;" >
                                <span class=""></span>
                                <ul class="scroll_bar" style="height:85%;"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Template" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加模板类型</h4>
            </div>

            <form class="modal-bodyl" method="post">{% csrf_token %}
                {% for field in form_obj %}
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">{{ field.label }}：</label>
                            <div class="col-lg-7">{{ field }}</div>
                            <span style="color:gray;font-size: 10px">{{ field.help_text }}</span>
                            <span style="color: red">{{ field.errors.0 }}  </span>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <input type="submit" class="btn btn-primary" onclick="save_template(this)" value="保存">
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>

{% block script %}
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/jquery-1.12.4.js"></script>
{% endblock %}

<script>

    function get_log(self) {

        var urls = window.location.host;
        if(window.s){window.s.close()}
        var socket = new WebSocket("ws://"+urls+"/socket/echo_logs/")
        socket.onopen = function (event) {
            console.log('连接到socket服务器');
            socket.send('hello');
        }
        socket.onmessage = function (p1) {
{#            console.log('服务器返回数据:',p1.data);#}
            log_data = p1.data;
{#            inset_data(log_data);#}
            $("#display_log").find('ul').append("<li>"+log_data + "\t\n"+"</li>")
{#            $("#display_log").attr("overflow-x","hidden");#}
            autoScroll("#display_log")
        };
        if(socket.readyState == WebSocket.OPEN)socket.onopen();
        window.s = socket;
        if(!window.s){alert("websocket未连接.");}
        window.onbeforeunload = function () {
            socket.send('quit');
            closeWebSocket();
        }
    }

    function autoScroll(obj){
        $(obj).find("ul").animate({
            marginTop : "-5px"
        },1000,function(){
            $(this).css({marginTop : "0px"}).find("li:first").appendTo(this);
        })
    }

    $(function(){
        var scroll=setInterval('autoScroll(".maquee")',1500);
         $(".maquee").hover(function(){
          console.log("aaa");
          clearInterval(scroll);
         },function(){
          scroll=setInterval('autoScroll(".maquee")',1500);
         });
    });


    function uploads(self) {
        var file_type = document.getElementById('filetype');
        var filename = document.getElementById('filename').files[0];
        console.log('file1',file_type.value)
        console.log('file2',filename)
        if (filename != undefined && file_type.value != ''){
            var fm = new FormData();
            fm.append("action", "UploadVMKImagePath");
            fm.append('filename',filename );
            console.log('fm',fm.get('file_type'))
            $.ajax({
                url: "/cluster/upload/?file_type="+file_type.value,
                type: 'POST',
                data: fm,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success:function (result) {
                    alert('上传完成')
                    location.reload('/cluster/deploy/')
                }
            })
        }
        else {
            alert("请选择文件并选择类型")
        }

    }

    function all_del(self) {
        var check = document.getElementsByName("_selected_obj");
        var len = check.length;
        var idAll = "";
        for (var i = 0; i<len;i++){
            if(check[i].checked){
                idAll += check[i].value+',';
            }
        }
        if(idAll == ''){
            var td_id = $(this).closest('tr').find('th').eq(1).text();
            idAll = td_id + ',';
        }
        $.ajax({
            url:"/cluster/template/all_del/?idAll=" + idAll,
            type: 'post',
            success:function (data) {
                var del_status = JSON.parse(data);
                if(del_status.status=='true'){
                    alert('删除成功');
                    location.reload(true)
                }else {
                    alert('删除失败',del_status.error)
                    location.reload(true)
                }
            }
        })
    }

    function all_del_file(self) {
        var check = document.getElementsByName("_selected_obj");
        var len = check.length;
        var idAll = "";
        for (var i = 0; i<len;i++){
            if(check[i].checked){
                idAll += check[i].value+',';
            }
        }
        if(idAll == ''){
            var td_id = $(this).closest('tr').find('th').eq(1).text();
            idAll = td_id + ',';
        }
        $.ajax({
            url:"/cluster/deploy/all_del/?idAll=" + idAll,
            type: 'post',
            success:function (data) {
                var del_status = JSON.parse(data);
                if(del_status.status=='true'){
                    alert('删除成功');
                    location.reload(true)
                }else {
                    alert('删除失败',del_status.error)
                    location.reload(true)
                }
            }
        })
    }

    function checkAll(self) {
        if ( $(self).prop('checked')){

            $("table .row-obj").prop('checked',true)
        }else {
             $("table .row-obj").prop('checked',false)
        }

    }

    function deploy_file(self) {
        var check = document.getElementsByName("_selected_obj");
        var len = check.length;
        var idAll = '';
        var count = 0;
        var inventory = '';
        var playbook = '';
        var files_type = [];
        for(var i = 0; i<len;i++){
            if(check[i].checked){
                idAll += check[i].value+',';
                count += 1;
                file_type = check[i].parentNode.parentNode.children[3].innerHTML;
                if(file_type == 'Inventory'){
                    inventory += check[i].value;
                }
                else if(file_type == 'Playbook') {
                    playbook += check[i].value;
                }
            }
        }
        if (count == 0){
            alert('没有选择任何文件');
        }
        else if (count !=2){alert("只能选择一个Inventory文件和一个Playbook文件")}
        else {
            console.log('inventory',inventory);
            console.log('playbook',playbook);
            $.ajax({
                url: '/cluster/deploy/file/?inventory_id='+inventory+"&playbook_id="+playbook,
                type: 'post',
                success:function (arg) {
                    alert('执行成功，请点击日志查看执行状态')
                }
            })
        }

    }

</script>
{% endblock %}
